@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toolbar-h: 36px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: var(--toolbar-h);
  min-height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
